.App {
  text-align: center;
}

.App-head {
  background-color: cadetblue;
  height:200px;
  border-style: ridge;
  border-color: slateblue;  
  position: sticky;
  top:0;
}
.Summary{
  width: 50%;
  float:left;
  height:200px; 
}
.popit{
  width: 50%;
  float:left;
  height:200px;
}

.Action {
  background-color: cadetblue;
  width: auto;
  height:35px;
  vertical-align: middle;
  overflow:hidden;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-style: ridge;
  border-color: slateblue;
  position: sticky;
  bottom:0;
}

.Action button {
  background-color:slateblue;
  float:left;
  border-style: ridge;
  outline:rosybrown;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 12px;
  font-style: oblique;
  font-weight: bolder ;
  }

#popForm {
  width: 300px;
  padding: 14px;
  background-color: rgb(187, 161, 221);
  background-size:100%;
  height:auto;
  line-height:56px ;
  border-style:groove;
  border-color: slateblue;  
  position: relative;  
}

.entryBlock{
  border-style: ridge;
  border-color: slateblue; 
}

.entryWrap {
  background-color: rgb(187, 161, 221);
  width: auto;
}

.entry {
  width: 50%;
  float: left;  
}  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
